.brand-logo img {
    width: 30px;
}

.infos {
    margin-top: 50px;
    text-align: center;
} .infos i {
    font-size: 70px;
} .infos h3 {
    font-size: 24px;
    font-weight: 700;
} .infos p {
    font-size: 18px;
}

.carousel {
    margin-top: 30px;
}

.criancas img {
    width: 100%;
    padding: 50px;
}